{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
    <body>
        <header>
            <div class="logotipo">
                <img src="{% static 'img/logo.png'%}" alt="">
                <h1>Sitio Web con Django <br>| Maria Fernanda </h1>
            </div>
        </header>
        <nav>
            <ul>
                <!-- <li><a target="_blank" href="/admin">Administador</a></li>     -->
                <li><a href="{%url 'inicio'%}">Inicio</a></li>
                <li><a href="{%url 'clase'%}">Años</a></li>
                <li><a href="{%url 'contacto'%}">Contacto</a></li>
                <li><a href="{%url 'holaMundo'%}">Hello World</a></li>
                <li><a href="{%url 'saludo'%}">Saludo</a></li>
                <li><a href="{%url 'presentacion'%}">Sobre mi</a></li>
                <li><a href="{%url 'productosyservicios'%}">Productos y Servicios</a></li>
                <li><a href="{%url 'quienesSomos'%}">Quienes somos</a></li>
                <li><a href="{%url 'articulos'%}">Articulos</a></li>
                <li><a href="{%url 'create'%}">Crear Articulo</a></li>
                <li><a href="{%url 'create_full'%}">Crear</a></li>
        </ul>  
        </nav>
        <div class="barra">
            <span class="izq"></span>
            <span class="relleno"></span>
            <span class="der"></span>
        </div>

        <section class="secciones">
            {%block seccion%}

            {%endblock%}
        </section>
        
        <div id="content">
            {% block content %}
                <strong>Contenido del bloque original</strong>
            {{ block.super }}
                <h1>Este es un contenido original</h1>
            {% endblock %}
        </div>

    <footer>Master del Framework Django &copy; Maria Fernanda <br> {% now 'd/m/y h:i:s'%} </footer>
    </body>
</html>